body {
	margin: 0px;
	background-image: url("http://www.wildplantdatabase.net/plantImages/305_2010712191452.jpg");
	background-size: 155% 500%;
	background-repeat: no-repeat;

	

}
footer {
	font-family: "Open Sans", "Helvetica", sans-serif;
	background-color: #6e6e6e;
	color: white;	
	position: fixed; bottom: 0; 
	width: 100%;
	text-align: center;
	border-top: solid 2px black;
}
h3 {
	margin: 0px;
	font-weight: normal;
}
img {
	height: 50px;

}
div {
	text-align: center;
}

p {
	font-family: cursive;	
}https://mail.google.com/mail/u/0/?ui=2#inbox
form {

}

@media screen and (max-width: 880px) {
	body {
		background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTEbGOsvybf7BhYic9uOSw-QkNmKH4tade03JSleiwUKO7_Pbh2w");
	}

}
